<div class="wrapper">
    <%-include('../partials/adminMenu')%>

        <div class="main" style="height: 100vh;">
            <%-include('../partials/adminNav')%>

                <main class="content p-0" style="overflow: scroll;overflow-x: hidden;">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-xl-12 col-xxl-12 d-flex">
                                <div class="w-100 p-4">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-12 col-lg-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col mt-0">
                                                            <h5 class="card-title">Total User</h5>
                                                        </div>

                                                        <div class="col-auto">
                                                            <div class="stat text-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-users">
                                                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2">
                                                                    </path>
                                                                    <circle cx="12" cy="7" r="4"></circle>
                                                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                                                    <path d="M8 3.13a4 4 0 0 0 0 7.75"></path>
                                                                </svg>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h1 class="mt-1 mb-3">
                                                        <%= totalUsers %>
                                                    </h1>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6 col-md-6 col-12 col-lg-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col mt-0">
                                                            <h5 class="card-title">Total Amount</h5>
                                                        </div>

                                                        <div class="col-auto">
                                                            <div class="stat text-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-dollar-sign align-middle">
                                                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                                                    <path
                                                                        d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6">
                                                                    </path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h1 class="mt-1 mb-3">
                                                        ₹<%= totalAmount %>
                                                    </h1>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6 col-md-6 col-12 col-lg-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col mt-0">
                                                            <h5 class="card-title">Total Orders</h5>
                                                        </div>

                                                        <div class="col-auto">
                                                            <div class="stat text-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-package">
                                                                    <path d="M12 2l8 4v12l-8 4-8-4V6z"></path>
                                                                    <path d="M12 2v12"></path>
                                                                    <path d="M4 6l8 4 8-4"></path>
                                                                </svg>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h1 class="mt-1 mb-3">
                                                        <%= totalOrders %>
                                                    </h1>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6 col-md-6 col-12 col-lg-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col mt-0">
                                                            <h5 class="card-title">Total Cost</h5>
                                                        </div>

                                                        <div class="col-auto">
                                                            <div class="stat text-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-dollar-sign align-middle">
                                                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                                                    <path
                                                                        d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6">
                                                                    </path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h1 class="mt-1 mb-3">₹0</h1>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </main>



                <%-include('../partials/dashboardFooter')%>

        </div>
</div>