<div class="wrapper">
    <%- include('../partials/adminMenu') %>

    <div class="main" style="height: 100vh;">
        <%- include('../partials/adminNav') %>
        <main class="content p-0" style="overflow: scroll; overflow-x: hidden;">
            <div class="container-fluid p-0">
                <div class="card flex-fill mb-0">
                    <div class="card-header">
                        <h4 class="fw-bold text-muted">User Management</h4>
                    </div>
                </div>
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card flex-fill w-100 overflow-scroll">
                        <table class="table table-hover my-0">
                            <thead>
                                <tr class="bg7">
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Total Orders</th>
                                    <th>Registered Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(user => { %> 
                                    <tr>
                                        <td><%= user.id %></td>
                                        <td class="sty-col"><%= user.name %></td>
                                        <td><span class=""><%= user.email %></span></td> 
                                        <td class="sty-col"><%= user.phone %></td> 
                                        <td class="sty-col"><%= user.orders || 0 %></td>
                                        <td class="sty-col"><%= new Date(user.created_at).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %> at 
                                            <%= new Date(user.created_at).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></td> 
                                        <td class="sty-col">
                                            
                                            <form action="/admin/delete-user/<%= user.id %>" method="POST" style="display:inline;">
                                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash text-white"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/dashboardFooter') %>
    </div>
</div>

<script src="/js/app.js"></script> <!-- Link to your JavaScript -->