<div class="wrapper">
    <%- include('../partials/dashboardMenu') %>

    <div class="main" style="height: 100vh;">
        <%- include('../partials/dashboardNav') %>

        <main class="content p-0" style="overflow: scroll;">
            <div class="container-fluid p-0">
                <% if (stores.length === 0) { %> 
                    <div class="row align-items-center justify-content-center" style="height: 80vh;">
                        <a class="d-flex justify-content-center align-items-center text-decoration-none" href="/pricing-plan">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 bg-white sh flex-column d-flex justify-content-center align-items-center" style="height: 300px;">
                                <i class="fa-solid fa-cart-plus fs-1 mb-2"></i>
                                <h3 class="fw-semibold">Create New Store</h3>
                            </div>
                        </a>
                    </div>
                <% } else { %>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill w-100 ">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Dashboard</h5>
                                </div>
                                <table class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th>Domain</th>
                                            <th>Status</th>
                                            <th class="sty-col">Renewal cost</th>
                                            <th class="sty-col"> plan</th>
                                            <!-- <th class="sty-col">Create Date</th> -->
                                            <th class="sty-col">Action </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orders.forEach(order => { %>
                                            <tr>
                                                <td><%= order.domain_name %></td>
                                                <td><span class="badge bg-lt-green text-success">Active</span></td>
                                                <td><%= order.amount %> INR</td> 
                                                <td><%= order.plan %></td>
                                                <!-- <td>
                                                    <%= new Date(order.created_at).toLocaleDateString('en-US', {
                                                        year: 'numeric',
                                                        month: 'long',
                                                        day: 'numeric'
                                                    }) %>
                                                </td>  -->
                                                <td><a href="" class="btn btn-primary">View</a></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </main>

        <%- include('../partials/dashboardFooter') %>
    </div>
</div>
